{% extends "myblog/base.html" %}

{% block content %}
<div class="container">
    <h2>Мої дописи</h2>
    {% if posts %}
        {% for post in posts %}
            <div class="post mb-4 p-3 border rounded">
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p><small>Опубліковано: {{ post.published_date }}</small></p>
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Редагувати</a>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас немає жодного допису.</p>
    {% endif %}
</div>
{% endblock %}
